.banner {
  height: 450px;
  color: white;
  object-fit: contain;
  background-size: cover;
  background-position: center center;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 800;
}

.banner p {
  width: 45rem;
  line-height: 1.3;
  max-width: 360px;
}
