.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.nav_logo {
  width: 100px;
  object-fit: contain;
}

.nav_avatar {
  width: 30px;
  object-fit: contain;
}
